{% extends "index.html" %}

{% block content %}


<!--&lt;!&ndash;Раскомментарить первую и закомментарить след. строчку для работы токена.&ndash;&gt;-->
<!--&lt;!&ndash;<form method="post" action="/login/">&ndash;&gt;-->
<!--  <form method="post" action="{% url 'login' %}">-->
<!--{% csrf_token %}-->
<!--<table>-->

<!--<tr>-->
<!--  <td>{{ form.username.label_tag }}</td>-->
<!--  <td>{{ form.username }}</td>-->
<!--</tr>-->

<!--<tr>-->
<!--  <td>{{ form.password.label_tag }}</td>-->
<!--  <td>{{ form.password }}</td>-->
<!--</tr>-->

<!--<tr>-->
<!--  <td>{{ form.otp_token.label_tag }}</td>-->
<!--  <td>{{ form.otp_token }}</td>-->
<!--</tr>-->

<!--</table>-->

<!--<input type="submit" value="login" />-->
<!--<input type="hidden" name="next" value="{{ next }}" />-->
<!--</form>-->

<!--{# Assumes you setup the password_reset view in your URLconf #}-->
<!--<p><a href="">Lost password?</a></p>-->
	{% if next %}
  		{% if user.is_authenticated %}
    		<p>Your account doesn't have access to this page. To proceed,
   				 please login with an account that has access.</p>
  		{% else %}
    		<p>Please login to see this page.</p>
  		{% endif %}
	{% endif %}

	<section class="section-account">
		<div class="spacer"></div>
		<div class="card contain-sm style-transparent">
			<div class="card-body" >
				<div class="row">
					<div class="col-sm-2" ></div>
					<div class="col-sm-8" >
						<br/>
						<span class="text-lg text-bold text-primary"></span>
						<br/><br/>
						{% if form.errors %}
							<p>Your username, password or token didn't match. Please try again.</p>
						{% endif %}
						<h1> Authentication Panel </h1>
						<form class="form floating-label" accept-charset="utf-8" method="post">
							{% csrf_token %}
							<div class="form-row"> {{ form.username.errors }}{{ form.username.label_tag }}{{ form.username }} </div>
							<div class="form-row"> {{ form.password.errors }}{{ form.password.label_tag }}{{ form.password }} </div>
							<div class="form-row"> {{ form.otp_token.errors }}{{ form.otp_token.label_tag }}{{ form.otp_token }} </div>
<!--							{{ form.as_p }}-->
								<button type="submit" class="btn btn-primary btn-block "> Log in</button>
						</form>
					</div><!--end .col -->
				</div>
			</div>
		</div>
	</section>



{% endblock %}